.signup-container{
    background-color: aliceblue;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;

}
.signup-title{
    text-align: center;
}
.input-label{
    display: block;
    font-size: 22px;
    margin-top: 15px;
}
.input-field{
    font-size: 18px;
    padding: 3px 3px 5px 5px;
    border: 1px solid gray;
    margin-top: 3px;
    border-radius: 5px;
}
.input-container{
    margin: 20px, auto;
}
.signup-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 160px;
    cursor: pointer;
}